body{
    background-color: #ECF5D8;
}
#box1 {
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(6,2cm);
    grid-gap: 8px;
    
}
#box2 {
    margin-top: 1px;
    display: grid;
    grid-column: 16 / 14;
    grid-template-columns: repeat(2,2cm);
    grid-gap: 8px;
    
}
#space{
    margin: 5px;
}
#boxheader{
    background: #CDCDCD;
    padding: 3px;
    border-radius: 6px;
}
#boxnav{
    background: #DEDEDE;
    margin: 10px;
    padding: 5px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(15,1fr);
    column-gap:5px;
    border-radius: 5px;
}

#boxspan {
    background: #F7EBC7;
    padding: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #0000008a;
    border-radius: 4px;
}
#spacemain {
    margin: 10px;
}

#boxmain {
    background-color: #CDCDCD;
    margin: 1em,1em,1em,1em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    text-align: center;
    padding: 1em;
}

#sectionbox {
    background: #FFFFFF;
    margin: 0em 1em 1em 1em;
    padding: 1em 1em 0em 1em;
    border-radius: 4px;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 7fr 7fr;
}
#titlesection {
    text-align: left;
    padding-bottom: 10px;
}
#boxdiv{
    background: #F7EBC7;
    margin: 0em 1em 1em 1em;
    padding: 1em 1em 0em 1em;
    display: flex;
    border: 1px solid #0000008a;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
#boxdiv1{
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2em;

}
#boxdiv2{
    display: grid;
    margin-bottom: 1.5em;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 2em;

}
#boxdiv3{
    background: #F7EBC7;
    grid-column: 2 / 4;
    display: flex;
    border: 1px solid #0000008a;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
#boxdiv4{
    background: #F7EBC7;
    grid-column: 8 / 10;
    display: flex;
    border: 1px solid #0000008a;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#asidebox{
    grid-row: 1/5;
    grid-column: 2;
    background-color: white;
    margin: 1em 2em 3em 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 2fr;
    border-radius: 4px;
}
#asidebox1{
    background-color:#F7EBC7;
    margin: 0em 1em 1em 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#boximages {
    background-color: white;
    margin: 0em 1em 0em 1em;
    padding: 1em;
    border: 1px solid #0000008a;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(11,2fr);
    justify-content: center;
}
    #boximg1{
        margin: 0em 1em 0em 1em; 
    }
    
#boxfooter {
    background-color: #CDCDCD;
    display: flex;
    padding: 30px;
    border-radius: 5px;
    justify-content: center;
}